/* isme bs 3 pages hai unki height set kr rkhi hai 100vh vhi rehne dio or dekh code or kr khud se ok ab kr kcuh or save krlio and FLeEXBOX use krna seekkh mene tere wale me b use kia hai wo b chla ke dekh le ruk.. ab tu clone kr apne wala portfolio and chla use ok chhod abi jldi se isme kcuh change krde abi nav bar bna de fr pull req ka btata hu ok flex flow se kya kia? mujhe lga sari li pr flex lag jaega since inka parent container navbar h muje nahi pta puchra hu main use nahi krta  row se ye line me aa jaenge. abhi 1 column me aare h RUK kcuh frk nhii pda dekhlio bad me kya hota usse exactly. .. also ek property add krke change dekha kr vrna pta kese chlega kis se kya hua..  okkrklek ab  kya hua???? HELLo
pehle yha likh next task kya hai muje fr smj ayega sah se and w3 me mostly flexbiox nmahi use krte wo exampls e mujse puchle 
ok
1. isko beech me lana hai and space boundaries se zyada hona chahie.
    2. top se margin/padding theek krni hai
    3. font add krna h
    4. bs ok.. first wala btata hu baki tu krlegi okare 1st 2nd same hi hai beech me lana to padding add krde ya margin ruk..
    kya krna h vese ho to gya sb? sb? yhi dihunga logo ko? xD p0urple color? xXD ufff chal tu ja
    surprise dungi
    :p 3:kya surprise muje pull req dikh jayegi xD haan haan to pull k rktu kr abi fr ptanikya krti rahgi jldi krke khtm kr ok

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* border: 1px solid black; */
}

a{
  text-decoration: none;
}
#home{
  display: flex;
  flex-direction: row;
  justify-content: center;

  align-items: center; 
}
.dev-image{
  background-color: #BCBDC1;
  width: 50%;
  display: flex;
  justify-content: center;
  height: 80%;
}
.welcome-text{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  width: 50%;
  height: 80%;
  align-items: center; 
 color: rgb(33, 56, 90);
  text-align: center;
  /*height bhar jari hai kcuh krde */
}


.navbar{
  display: flex;
  justify-content: center;
}
.navbar ul{
  display: flex;
  width: 60%;
  font-size: 24px;
  list-style: none;
  justify-content: space-between;
}

.navbar ul li{
  margin: 0.5rem 1rem;
}

.navbar ul li a{
  color: black;
}

.navbar ul li a:hover{
  color: #BCD9D7;
  border-bottom: 1px solid #BCD9D7;
  transition: 0.3s;
}

#p1{
font-size: 5rem;
}

section {
  height: 100vh;
}
#home {
  background: #BCBDC1;
}

#about  {
  background: #446366;
}
#contact {
  background: #141518;
}
