
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* border: 1px solid black; */
}

a{
  text-decoration: none;
}
.centre-title{
  align-content: center;
  display: flex;
  justify-content: center;
  font-size: 4rem;
  color: white;
  
}
.centre-text
{
    align-content: center;
    display: flex;
padding: 30px;
flex-flow: column;
font-size: 2rem;
color: white;}
#home{
  display: flex;
  flex-direction: row;
  justify-content: center;

  align-items: center; 
}
.dev-image{
  background-color: #BCBDC1;
  width: 50%;
  display: flex;
  justify-content: center;
  height: 80%;
}
.welcome-text{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  width: 50%;
  height: 80%;
  align-items: center; 
 color: rgb(33, 56, 90);
  text-align: center;
  /*height bhar jari hai kcuh krde */
}


.navbar{
  display: flex;
  justify-content: center;
}
.navbar ul{
  display: flex;
  width: 60%;
  font-size: 24px;
  list-style: none;
  justify-content: space-between;
}

.navbar ul li{
  margin: 0.5rem 1rem;
}

.navbar ul li a{
  color: black;
}

.navbar ul li a:hover{
  color: #BCD9D7;
  border-bottom: 1px solid #BCD9D7;
  transition: 0.3s;
}

#p1{
font-size: 5rem;
}

section {
  height: 100vh;
}
#home {
  background: #BCBDC1;
}

#about  {
  background: #446366;
}
#contact {
  background: #141518;
}